//Adds extra borders for relief debugging
.dialog_form{    
    border: 1px solid white;

    .tip{
        border: 1px solid yellow;

        .titile{
            border: 1px solid steelblue;
        }
        .text{
            border: 1px solid yellowgreen;
        }
    }
    .user_input{
        border: 1px solid yellow;
    }
}